<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeqU_gnpxP6N8U4KrVtDZwHIvlGGQgeoU</string>
	<key>GCM_SENDER_ID</key>
	<string>1040890200785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoAsig</string>
	<key>PROJECT_ID</key>
	<string>auto-asigurari-app</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-asigurari-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040890200785:ios:bead9014cb8f4cff21fbf0</string>
</dict>
</plist>